.main_div {
  background-color: black;
}
.lol_player {
  background-color: yellow;
  color: green;
}

.valorant_player {
  background-color: red;
  color: blue;
}

.otherStuff {
  background-color: purple;
  color: tomato;
}
